{# src/OC/PlatformBundle/Resources/views/Default/article.html.twig #}

{% extends "::base.html.twig" %}

{% block body %}

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"> {{ article.title }}</div>
        <div class="panel-body">
          {{ article.leadingArt }}
        </div>

        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item">{{ article.body }}</li>
          <li class="list-group-item">
            Par {{ article.createdBy }} 
            le {{ article.createdAt|date("m/d/Y") }}
          </li>
        </ul>
    </div>

    <a href="{{ path('oc_platform_homepage') }}" class="btn btn-primary">Revenir à la liste</a>
    <a href="{{ path('oc_platform_delete', {'slug': article.id}) }}" class="btn btn-danger">Supprimer cet article</a>

{% endblock %}